# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store

# Zephyr
bootloader/
/modules/
tools/
build/
zephyr-project-template/build/
twister-out*/

# .vscode
.vscode/.cortex-debug*

# Python
venv/
verification/integration/__pycache__/
verification/integration/tests/__pycache__/

# scripts
scripts/platform-tests-results/
*.bin

# nox
verification/integration/.nox/
verification/integration/.pytest_cache/
verification/integration/.coverage

# SonarCloud
.scannerwork/
